/* necessary css */
.tab-container {

}

.tab-container .label-container {

}

.tab-container .label-container .label-item {
	display: inline-block;
}



/* additional css */
body {
	background: #f1f1f1;
}

.tab-container {

}

.tab-container .label-container {
	border-bottom: 1px #ccc solid;
}

.tab-container .label-container .label-item {
	position: relative;
	top:1px;

	border:1px #ccc solid;
	border-bottom: 0;
	margin-right:1em;
	padding:0.5em 1em;
	cursor: pointer;

	border-top-left-radius: 5px;
	border-top-right-radius: 5px;

}
.tab-container .label-container .label-active {
	color:red;
	background: #fff;
}

.tab-container .page-container {
	border:1px #ccc solid;
	border-top:0;
	padding:1em;
	background: #fff;

	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}